<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
    <form action="#"th:action="@{/}" th:object="${customer}" method="post">

        <p>FirstName: <input type="text" th:field="*{firstName}" name="firstName"/></p>

        <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">FirstName</p>

        <p>LastName: <input type="text"  th:field="*{lastName}" name="lastName"/></p>

        <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName</p>

        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>

</body>
</html>